body {
    background-color: #d5e2ea;
    color: #003e65;
    font-size: 20px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 25px 0px; 
    border-bottom: solid 5px #116927d9;
    width: 100%;
    background-color: #b0d9f3;
    color: #012225d9;
    font-size: 25px;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    top: 250px;
}

.container-positioning {
    grid-column: 3;
}

.notes-title {
    margin-top: 35px;
}

.save-note {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
    justify-items: center;
}

.note-content-container {
    position: relative;
    right: 250px;
    width: 250%;
    background-color: aliceblue;
    border: 1px solid black;
    margin-bottom: 50px;
}

.note-text {
    margin: 0px 10px;
    color: #1a2222;
}

.note-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    right: 30px;
    margin-bottom: 10px;
}

.note-btn {
    background-color: #c1d7d7;
    border: solid 0.5px #4d4d4d;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 12px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-1 {
    grid-row: 1;
}

.grid-item-2 {
    grid-row: 2;
}

.add-btn {
    background-color: #c1d7d7;
    border: none;
    font-size: 16px;
    padding: 15px 32px;
}

.save-btn {
    background-color: #c1d7d7;
    border: solid 0.5px #4d4d4d;
    font-size: 16px;
    padding: 10px 25px;
    margin: 0px 100px;
}

.add-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2.5px 5px #615f5f;
}

.save-btn:hover, .note-btn:hover{
    cursor: pointer;
}
