<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Notes Editor</title>
</head>
<body>
    <header>
        <h1>Notes Editor</h1>
    </header>
    <a href="{{ url_for('index') }}" style="position: fixed; top: 187px;">Return</a>
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    <div class="container">
        <div class="container-positioning"> 
            <form action="{{ url_for('index') }}" method="POST" class="save-note"><br>
                <div class="notes-grid-inputs">
                    {% if old_note %}
                        <label for="title">Title:</label>
                        <input type="text" name="title" value="{{ old_note.title }}">
                        <label for="note">Edit your note:</label>
                        <textarea type="text" name="note" rows="4" cols="50">{{ old_note.note }}</textarea>
                    {% else %}
                        <label for="title">Title:</label>
                        <input type="text" name="title">
                        <label for="note">Write your note:</label>
                        <textarea type="text" name="note" rows="4" cols="50"></textarea>
                    {% endif %}
                </div>
                <div class="notes-save-btn">
                    <button name={{name}} value={{value}} class="save-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>