<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    {% if notes %}
        <h2>My notes:</h2>
        {% for i in range(notes|length) %}

        <form action="{{ url_for('notes')}}" method="POST" >
            <ul>
                <li id={{i + 1}}>{{ notas[i] }}</li>
            </ul>
            <button name="edit" value={{i + 1}}>Editar</button>
            <button name="delete" value={{i + 1}}>Deletar</button>
        </form>

        {% endfor %}
    {% endif %}
    <form action="{{ url_for('salvar')}}" method="POST" >
    
        <button name='new' value='new'>New Note</button>
      </form>
</body>
</html>