<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Home</h1>
    </header>
    <div class="container">
        <div class="container-positioning">
            <div class="grid-item">
                <form action="/notes" method="POST" >   
                    <button name='new' value='new' class="add-btn">Add Note</button>
                </form>
            </div>
        </div>
    
        {% if notes %}
        <div class="container-positioning">
            <div class="grid-item">
                <h2 class="notes-title">My Notes:</h2>
            </div>
        </div>

            {% for note in notes %}
            <div class="container-positioning">
                <div class="note-content-container">
                    <form action="/notes" method="POST" >
                        <div class="note-text">
                            <p id={{ note.id }}>{{ note.note }}</p>
                        </div>
                        <div class="note-btns">
                            <button name="edit" value={{ note.id }} class="note-btn">Edit</button>
                            <button name="delete" value={{ note.id }} class="note-btn">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-positioning"></div>
            {% endfor %}
            
        </div> 
        {% endif %}
        
</body>
</html>